html,

.theme-light {
  --color-primary: #FAE8DD;
  --color-secondary: #2046EE;
  --color-list: #00000;
  --font-color: #00000;
  --social-color:#85254B;
  --switch-color:#2D2F33;

}
.theme-dark {
  --color-primary: #2d2f34;
  --color-secondary: #EF8D4A;
  --color-list: #CE9ECE;
  --font-color: #B5B6B7;
  --social-color:#F9CA33;
  --switch-color:#FAE8DD;
}
body {
  margin: 0;
  font-size: 100%;
  line-height: 1.5;
  height: 100vh;
  font-family: 'PT Serif Caption', serif;
  box-sizing : border-box;
  background-color: var(--color-primary);;  
}


 body a {
    text-decoration: blue;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;

} 

.headname {
  font-size: 30px;
  margin-top: 50px;
  display: inline-block;
  letter-spacing: 0.5px;
  font-weight: bold;
  line-height: 3;
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
 
}

#menu {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    text-align: right;
    width: 150px;
    font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
    font-style: italic;
    font-size: 15px;
  }
  

  #menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  

  #menu li a {
    display: inline-block;
    color: var(--color-list);
  }


html {
  scroll-behavior: smooth;
}
body img {
    max-width: 100%;
}



.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}



@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

#yo {
  font-size: 32px;
}

.somo{
  height: 20px;
  width: 20px
}


.reffera{
  color: var(--color-secondary);
}

.layer {
    background: #2d2f34;
}

.banner-text-section {
    padding: 2vw 0vw 11vw;
    box-sizing: border-box;
    width: 80%;
    text-align: justify;
    color: var(--font-color);
    font-size: 1em;
}
.blog_heading{
  font-size: 25px;
}

.author{
  font-style: italic;
}
.byline{
  font-size: 15px; 
  padding-bottom: 20px;
}
.content_style{
  font-weight: 10000;
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica;

  color: inherit;
}

.blog_content{
  font-size: 0.9em
}
.checkbox {
  position: absolute;
  top: 5%;
  left: 43%;
}

.slider {
  position: absolute;
  cursor:pointer;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:var(--switch-color);
  transition:0.4s;
  border-radius:34px;
  width: 44px;
}

.switch{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 21px;
  margin:0;
}

.switch input {display:none}

.slider:before{
  position : absolute;
  content : "";
  height : 19px;
  width : 19px;
  left : 1px;
  top:1px;
  background-color : var(--color-primary);
  transition : 0.4s;
  border-radius :50px;
}

input:checked + .slider{
   background-color: var(--switch-color);
}

input:checked + .slider:before{
  transform: translateX(23px);
}


.fa {
  font-size: 1.4em;
  margin-right:0.40450849718em;
  color:var(--social-color);

}